/*region SKELETON*/

.container {
	position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
	margin-left: 4%; 
}

.column:first-child,
.columns:first-child {
	margin-left: 0; 
}

.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; 
}

/*endregion*/

/*region BASE*/

body {
	width: 100vw;
	overflow-x: hidden;
	font-size: 62.5%;
	
}

h1, h2, h3 , h4{
	font-family: 'Gidugu', sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-size: 6em;
	padding-top: 50px;
	letter-spacing: 2px;
}

h3 {
	font-size: 3.3em;
}

h4 {
	font-size: 3em;
}

h1 + p, h2 + p, .home textarea {
	font: 1.5em 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: #44c7f4;
}

h2 + p {
	margin-bottom: 50px;
}

.fa.fa-long-arrow-up {
	display: none;
	width: 24px;
	font-size: 24px;
	font-weight: 100;
	color: #44c7f4;
	border-bottom: 3px solid #44c7f4;
	padding: 0 7px 2px;
	z-index: 1;
	position: fixed;
	left: 95%;
	top: 90%;
}

.fa.fa-long-arrow-up:hover {
	color: #FAC02D;
	border-bottom-color: #FAC02D;
}

.title {
	text-align: center;
}

::-webkit-scrollbar-button {
	background: url("") no-repeat;
	width: 5px;
	height: 0px;
}

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 10px;
background-color: rgba(127, 127, 127, .3);
border: 1px solid grey;
}

::-webkit-scrollbar-thumb:hover {
background-color: #44c7f4;
}

::-webkit-resizer {
	background: url('') no-repeat;
	width: 4px;
	height: 0px;
}

::-webkit-scrollbar {
width: 7px;
}

/*endregion*/

/*region HOME*/

.home {
	background: url(../images/Resume_Header_banner.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
}

/*.user-icon {
	margin-top: 50px;
	border: 7px solid #44c7f4;
	width: 300px;
}*/

.user-icon {
	margin: 0 auto;
	border: 7px solid #44c7f4;
	width: 300px;
	height: 300px;
	background: url(../images/main.jpg) center no-repeat;
	background-size: 151%;
	background-color: white;
}


/* job */
.home h1 {
	color: white;
	font-size: 5em;
	line-height: .5em;
	margin: 15px 0 20px;
	letter-spacing: 7px;
}

.home textarea {
	width: 60%;
	color: #cecfcf;
	text-align: center;
	resize: none;
	overflow: hidden;	
	background: none;
	border: none;
	margin-top: 25px;
}

/* links styles */
.links li {
	display: inline-block;
	margin: 20px;
}

.links a {
	display: block;	
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid white;
	width:40px;
	height: 40px;
}

.links i {
	font-size: 16px; 
	font-weight: 100;
	color: white;
	padding-top: 9px;
	transition: color .3s;
}

.links a:hover i {
	color: #44c7f4;
}

.links a:active i {
	color: #FAC02D;
}
/* end of links styles */

/* radio-buttons styles */
input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	display: inline-block;
	cursor: pointer;
	background-color: white;
	content: '';
	width: 12px;
	height: 12px;
	margin-left: 20px;
	border-radius: 10px;
	transition: background-color .3s;
}

input[type='radio']:hover + label {
	background-color: #44c7f4;
}

input[type='radio']:checked + label {
	background-color: #44c7f4;
	width: 50px;
  height: 4px;
	vertical-align: top;
}

.radio-btns {
	display: inline-block;
	position: relative;
  right: 10px;
	margin: 15px 0 60px;
}
/* end of radio-buttons styles */

/*endregion*/

/*region MENU*/

.m-small {
	display: none;
}

.m-big ul {
	display: inline-block;
	margin-top: 33px;
	width: 70%;
}

.m-big li {
	float: left;
	width: 16.6%;
	text-align: center;	
	font-size: .9em;
}

.m-small h2 + a:hover i{
	color: #FAC02D;
}
 
.menu {
	background-color: #44c7f4;
}

.menu h2 {
	float: left;
	width: 25%;
	font-size: 7em;
	font-weight: normal;
	margin-left: 5%;
	padding-top: 0;
}
 
.menu li a {
	font: 1.4em 'Open Sans', sans-serif;
	color: white;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}

.menu li a:hover {
	color: black;
}
.menu li a:before {
	content: '[';
	opacity: 0;
	padding-right: 5px;
	transition-property: padding-right, opacity;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-out, ease-out;
}
.menu li a:after {
	content: ']';
	opacity: 0;
	padding-left: 5px;
	transition-property: padding-left, opacity;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-out, ease-out;
}
.menu li a:hover:before {
	opacity: 1;
	padding-right: 10px;
}

.menu li a:hover:after {
	opacity: 1;
	padding-left: 10px;
}

.main .home-link:before {
	opacity: 1;
}

.main .home-link:after {
	opacity: 1;
}

/*endregion*/

/*region ABOUT*/

.about img {
	width: 100%;
}

.about ul {
	list-style-type: none;
	letter-spacing: 2px;
	margin-right: 100px;
}

.about div:nth-child(2) p {	
	font: 1.5em 'Open Sans', sans-serif;
	letter-spacing: .1em;
	color:	#9e9b9b;
	border-bottom: 1px dashed #44c7f4;
	padding-bottom: 20px;
}

.about div:nth-child(2) .mail-color {
	color: #44c7f4;
}

.about-info {
	margin: 0 0 30px 30px;
}

.user-icon-2-wrapper {
	text-align: center;
}

/*endregion*/

/*region SERVICES*/

.services {
  background: url(../images/serve.jpg) no-repeat center;
  background-size: cover;
}

.services h2 {
  color: white;
}

.services .row:last-of-type {
	padding: 0 100px 30px;
}

.services i {
	color: white;
	font-size: 60px;
	margin: 10px 0 20px;
}

.services h3 {
  letter-spacing: 3px;
	color: #44c7f4;	
}

.services div:nth-child(2) p {	
	font: 1.5em 'Open Sans', sans-serif;
	letter-spacing: .1em;
	line-height: 2em;
	color:	#cecfcf;
	margin-bottom: 10px;
}

/*endregion*/

/*region SKILLS*/

.skills .one-half {
	width: 50%;
	margin: 0;
}

.skills .row:not(h4) {
	letter-spacing: 2px;
}

.skills {	
	overflow: hidden;
	width: 100%;	
	background: #f3f2f2;	
}

.container-inner {
	width: 100%;	
	background: url(../images/Resume_Header_banner.jpg) no-repeat;
}

.first-inner {	
	position: relative;
	left: 50%;
	background-size: auto 100%;
}

.second-inner {	
	position: relative;
	right: 50%;
	background-size: auto 100%;
	background-position: right;
}

.my-skills, .my-biography {
	float: left;
	width: 50%;
	position:relative;
}

.first-inner .my-skills, .first-inner .my-biography {
	right: 50%;
}

.second-inner .my-skills, .second-inner .my-biography {
	left: 50%;
}

.first-inner .my-skills {	
	padding: 0 6% 6%;
}

.skills h2 {
  color: #44c7f4;
	text-align: center;
	padding-bottom: 30px;
}

.skills .my-skills h2 {
  color: white;
}

.my-biography {
	padding: 0 4% 50px;
}

.my-biography h4 {
	font-size: 2.4em;	
}

.education-wrapper {
	margin-bottom: 70px;
}

.years {
	float: left;
	width: 30%;
	border-left: 5px solid #eb5424;
	padding-left: 20px;
	margin-right: 50px;
}

.years p {
	font: italic bold 1em 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #44c7f4;
}

.years + div {
	display: inline-block;
	width: 55%;
}

.my-biography ul {
	list-style: square;
	display: block;
	font: 1.5em 'Open Sans', sans-serif;
	letter-spacing: 1px;
	line-height: 2em;
	color:	#9e9b9b;
	margin-top: 15px;	
}

.my-skills ul {
	font: 1.5em 'Open Sans', sans-serif;
	color: white;	
}

.first-inner .my-skills ul li {
	margin-top: 60px;		
}

.skillbar-title {	
	position: relative;
	top: -10px;
}

.skillbar {
	background-color: white;	
}

.skillbar-bar {
	height: 15px;
	width: 0px;
	background: #44c7f4;
}

.second-inner .my-skills h2 {
	margin-top: 120px;
}

.second-inner .my-skills ul {
	text-align: center;
}

.second-inner .my-skills ul li {
	display: inline-block;
	margin: 0 5%;
}

.circle {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;	
}

.layer {
	position: absolute;
}

.z0 {
	background-image: linear-gradient(to right, #44c7f4 50%, white 50% );
	transform: rotate(0deg);
}

.z1 {
	background-image: linear-gradient(to right, white 50%, transparent 50% );
}

.z2 {
	background-image: linear-gradient(to right, transparent 50%, #44c7f4 50% );
	display: none;
	transform: rotate(0deg);
}

.z3 {
	width: 82px;
	height: 82px;
	background-color: #26282e;
	margin: 9px 0 0 9px;
	padding-top: 25px;
	font-size: 1.4em;
}

.second-inner .my-skills li p {
	display: block;
	text-align: center;
	padding-top: 40px;
}

.experience {
	padding: 30px 0;
	border-bottom: 1px dashed #9e9b9b;
}

.experience:last-of-type {
	border-bottom: none;
}

/*endregion*/

/*region GALLERY*/

.gallery div:nth-of-type(3) {
	margin: 30px 50px 50px;
	text-align: center;
}

.thumbnails img {
	width: 32%;
	object-fit: cover;
	object-position: 0 0;
	height: 230px;
	margin: 5px;
	border: 2px solid black;
}

.thumbnails img:hover {
	cursor: pointer;
}

@media screen and (max-width: 974px) {
	.thumbnails img {
		width: 48%;
	}
}

.photoviewer {
	display: none;
	position: relative;
	text-align: center;
	width: 95%;
	background-color: grey;
	border: 1px solid black;
	border-radius: 7px;
	margin: 0 2.5% 20px;
}

.p-layer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	width: 100%;
}

.front {      
	right: 0;
	top: 20px;
	margin: 0 auto;	
	width: 80%;
	max-width: 900px;	
}

.photoviewer img {
	width: 100%;
}

.view-border {
	width: 100%;
	border: 2px solid #44c7f4;
	z-index: 2;
}

.current-img {
	left: 0;
}

.next-img {
	left: 900px;
}

.prev-img {
	left: -900px;
}

.images {
	width: 100%;
	display: none;
}

.slide-btns {
	display: block;
	width: 10%;
	margin-top: 190px;
	font-size: 10em;	
}

.slide-btns i:hover,
.close-btn i:hover{
	cursor: pointer;
}

.colour {
	color: white;
}

.colour:hover {
	color: #44c7f4;	
}

.colour:active {
	color: #FAC02D;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.close-btn {
	position: absolute;
	right: -1%; 
  top: -2%;
	font-size: 1.4em;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: black;
	padding-top: 2px;
	box-shadow: 0px 2px 10px black;
}

.close-btn:hover {
	border: 2px solid #44c7f4;
}

.close-btn:active {
	border: 2px solid #FAC02D;
}

/*endregion*/

/*region MORE*/

.more {
	background: url(../images/Resume_Header_banner.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	text-align: center;	
	width: 100%;
}

.more div {
	display: inline-block;
	width: 23%;
	margin: 120px 0;
}

.more i {
	font-size: 25px;
	color: #44c7f4;
	font-weight: 100;
	margin: 0 0 20px;
}

.more h4 {
	margin-bottom: 25px;
	color: white;
	font-size: 2.6em;
	letter-spacing: 3px;
}

.more p {
	font: 3.5em 'Open Sans', sans-serif;
	color: white;
	letter-spacing: 3px;
}

/*endregion*/

/*region CONTACT*/

.contact input {
	display: block;
	width: 100%;	
	height: 60px;	
	border: 1px solid #e4e4e4;
	margin-bottom: 30px;
	font: bold 1.6em 'Open Sans', sans-serif;
	padding-left: 15px;
	background-color: #f5f5f5;
}

.contact form p {
	font: bold 1.6em 'Open Sans', sans-serif;
	color: green;
	padding-left: 15px;
}

.contact form div:nth-of-type(1) {
	padding-left: 70px;
}

.contact form div:nth-of-type(2) {
	padding-right: 70px;
}

.contact textarea {
	width: 100%;
	height: 240px;
	font: bold 1.6em 'Open Sans', sans-serif;
	color: black;
	resize: none;
	overflow: hidden;	
	margin-bottom: 30px;
	padding: 15px 0 0 15px;
	border: 1px solid #e4e4e4;
	background-color: #f5f5f5;
}

input[type='submit'] {
	background-color: #111;
	font-weight: normal;
	letter-spacing: 2px;
	color: white;
	text-transform: uppercase;	
}

input[type='submit']:hover {
	cursor: pointer;
}

/*endregion*/

/*region FOOTER*/

footer {
	background-color: #111;
	padding: 70px 120px;
}

footer .columns {
    height: 187px;
	text-align: center;
	background-color: #2e2e2e; 
}

footer i.fa {
	color: white;
	width: 60px;
	height: 60px;
	font-size: 15px;
	font-weight: 100;
	background-color: #44c7f4;
	border-radius: 100px;	
	padding-top: 22px;
	margin: 20px 0 10px;
}

footer h4 {
	color: white;
	font-size: 2em; 
	letter-spacing: 4px;	
	margin-bottom: 10px;
}

footer p {
	color: #9e9b9b;	
	font: 1.4em 'Open Sans', sans-serif;
	margin-bottom: 25px;
}

footer p.first-number {
    margin: 0;
}

/*endregion*/

/*region MODAL DIALOG*/

.modalDialog {
	position: fixed;		
	font-family: 'Open Sans', sans-serif;		
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialog p {
	font: bold 1.6em 'Open Sans', sans-serif;
	text-align: center;
  margin-top: 7px;
}

.close-modalDialog {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close-modalDialog:hover { background: #44c7f4; }

/*endregion*/
