/* For phones */
@media (max-width:674px) {
	.column,
	.columns {
		float: none;
		margin-left: 0; 
	}
	
	h2 {
		font-size: 3.3em;
		padding-top: 25px;
	}

	h3 {
		font-size: 2.5em;
	}

	h4 {
		font-size: 2.2em;
	}

	h1 + p, h2 + p {
		font-size: 1.2em;
		letter-spacing: 5px;
	}

	h2 + p {
		margin-bottom: 20px;
	}

	.fa.fa-long-arrow-up {
		width: 18px;
		font-size: 18px;
		border-bottom-width: 2.4px;
		padding: 0 5px 1px;
		top: 92%;
	}
	
	.user-icon {
		width: 150px;
		height: 150px;
		border-width: 4px; 
		margin-top: 45px;		
	}
	
	.home h1 {
		font-size: 3.5em;
		margin: 10px 0;
		letter-spacing: 5px;
	}

	.home textarea {
		width: 100%;
		margin-top: 10px;
		font-size: 1.1em;
		letter-spacing: 3px;
	}

	/* links styles */
	.links li {
		margin: 15px;
	}

	.links a {
		width: 32px;
		height: 32px;
	}
	
	.links i {
    font-size: 12.8px;
    padding-top: 8px;
}

	input[type='radio'] + label {
		width: 11px;
		height: 11px;
	}

	input[type='radio']:checked + label {
		width: 40px;
		height: 3px;
	}

	.radio-btns {
		margin-bottom: 50px;
	}
	
	.m-small {
		display: block;
	}
	
	.m-big {
		display: none;
	}
	
	.m-small div {
		float: none;
		overflow: hidden;
		width: 100%;
	}

	.m-small h2 {
		float: left;
		font-size: 4.7em;
	}		
	
	.m-small i {
		display: block;
		float: right;
		margin: 15px 20px 0 0;
    width: 40px;
    height: 30px;
    font-size: 24px;
		padding: 2px 0 0 9px;
    border: 1px solid;
    border-radius: 5px;
	}
	
	.m-small ul {
		display: none;
		width: 95%;
		margin: 0 2.5% 2.5%;
		padding: 0;
		text-align: center;
    background: #0c0c0c;
	}
	
	.m-small ul li {
		float: none;
		width: 100%;
		clear: both;
    padding: 10px;
	}
	
	.menu li a:hover {
		color: #44c7f4;
	}
	
	.about .columns {
		float: none;
		width: 100%;
	}
	
	.about img {
		max-width: 85%;
		display: block;
		margin: 10px auto 35px;
	}

	.about ul {
		letter-spacing: 1px;
		width: 85%;
		margin: 0 auto 30px;
	}
	
	.about li {
		margin-top: 13px;
	}

	.about div:nth-child(2) p {	
		font: 1.2em 'Open Sans', sans-serif;
		letter-spacing: .1em;
		color:	#9e9b9b;
		border-bottom: 1px dashed #44c7f4;
		padding-bottom: 12px;
	}

	.about div:nth-child(2) .mail-color {
		color: #44c7f4;
	}
	
	.services {
		background: url(../images/serve.jpg) no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.services .columns {
		width: 100%;
	}
	.services h2 {
		color: white;
	}

	.services i {
		width: 50px;
		margin: 15px 0 5px;
	}

	.services div:nth-child(2) p {	
		font: 1.2em 'Open Sans', sans-serif;
		line-height: 1.5em;
		margin: 0;
	}
	
	.services .row:last-of-type {
		padding: 0 15px 20px;
	}
	
		/* Skills */
	.container-inner {
		background: #f3f2f2;
	}

	.first-inner {	
		position: unset;
	}

	.second-inner {	
		position: unset;
	}

	.my-skills, .my-biography {
		float: none;
		width: 100%;
	}

	.first-inner .my-skills, 
	.first-inner .my-biography,
	.second-inner .my-skills, 
	.second-inner .my-biography {
		position: unset;
	}
	
	.skills .my-skills {
		background: url(../images/Resume_Header_banner.jpg) center no-repeat;
		background-size: cover;
	}	
			
	.skills .row:not(h4) {
		letter-spacing: 1px;
	}

	.skills h2 {
		padding-bottom: 12px;
	}

	.skills .my-skills h2 {
		color: white;
	}

	.my-biography {
		padding: 0 4% 20px;
	}

	.my-biography h4 {
		font-size: 2em;	
	}

	.years {
		width: 35%;
		border-width: 4px;
		padding-left: 15px;
		margin-right: 30px;
	}

	.years p {
		font: italic bold .8em 'Open Sans', sans-serif;
		text-transform: uppercase;
		color: #44c7f4;
	}

	.years + div {
		display: inline-block;
		width: 55%;
		line-height: 1.5em;
	}

	.my-biography ul {
		font-size: 1.2em;
		letter-spacing: 1px;
		line-height: 1.5em;
		color:	#9e9b9b;
		margin-top: 10px;	
	}

	.my-biography li {
		margin-bottom: 10px;
	}
	
	.first-inner .my-skills {
		padding: 20px 20px;
	}
	
	.my-skills ul {
		font-size: 1.1em;
	}

	.first-inner .my-skills ul li {
		margin: 35px 0;	
	}	
	
	.skillbar-bar {
		height: 10px;
	}

	.second-inner .my-skills h2 {
		margin: 0;
		padding-top: 45px;
	}

	.second-inner .my-skills ul li {
		display: inline-block;
		margin: 0 1%;
	}

	.circle {
		width: 90px;
		height: 90px;
	}
	
	.z3 {
		width: 74px;
		height: 74px;
		margin: 8px 0 0 8px;
		padding-top: 26px;
	}

	.second-inner .my-skills li p {
		display: block;
		text-align: center;
		padding: 30px 0 50px;
	}
	/* End of skills */	

	.gallery img {
		width: 100%;
		border: 1px solid #44c7f4;
	}
	
	.gallery div:nth-of-type(3) {
    margin: 0px 15px 30px;
	}
	
	.photoviewer {
		display: none;
	}
	
	.more {
		padding: 45px 15px 0;
	}
	
	.more div {
		width: 40%;
		margin: 0;
	}
	
	.more i {
		font-size: 16px;
		margin: 0;
	}

	.more h4 {
		font-size: 1.9em;
		margin: 10px 0 15px;
	}

	.more p {
		font-size: 1.9em;
		margin: 0 0 30px;
	}
	
	.contact input {
		height: 48px;	
		font-size: 1.25em;
	}

	.contact textarea {
		height: 180px;
		font-size: 1.25em;		
	}

	.contact .one-half.column {
    float: none;    
		width: 92%;
		margin: 0 auto;
		padding: 0;
	}
	
	footer .four.columns {
		float: none;
		width: 100%;
	}

	footer i.fa {
		width: 50px;
		height: 50px;
		margin: 15px 0 5px;
		padding-top: 19px;
		font-size: 12px;
	}

	footer h4 {
		font-size: 1.7em; 
		margin-bottom: 5px;
	}

	footer p {
		font-size: 1.2em;
		padding-bottom: 15px;
		margin-bottom: 8px;
	}
	
	footer {
    padding: 40px 4%;
	}
}
/* End of phones */