/* For tablets */
@media (min-width: 675px) and (max-width:768px) {
	.m-small {
		display: block;
	}
	
	.m-big {
		display: none;
	}
	
	.m-small div {
		float: none;
		overflow: hidden;
		width: 100%;
	}

	.m-small h2 {
		float: left;
	}		
	
	.m-small i {
		display: block;
		float: right;
		width: 50px;
    height: 40px;
    margin: 20px 30px 0 0;
    border: 1px solid;
    border-radius: 5px;		 
		font-size: 28px;
		padding: 5px 0 0 12px;    
	}
	
	.m-small ul {
		display: none;
		width: 95%;
		margin: 0 2.5% 2.5%;
		padding: 0;
		text-align: center;
    background: #0c0c0c;
	}
	
	.m-small ul li {
		float: none;
		width: 100%;
    padding: 10px;
	}
	
	.menu li a:hover {
		color: #44c7f4;
	}
	
	.about .columns {
		float: none;
		width: auto;
		margin: 0 0 50px 0;
	}
	
	.about img {
		width: 55%;
		margin: 0 6%;
	}
	
	.about ul {
		margin: 0 4%;
	}
	
	.services .row:last-of-type {
		padding: 0 15px;
	}
	
	/* Skills */
	.container-inner {
		background: #f3f2f2;
	}

	.first-inner {	
		position: unset;
	}

	.second-inner {	
		position: unset;
	}

	.my-skills, .my-biography {
		float: none;
		width: 100%;
	}

	.first-inner .my-skills, 
	.first-inner .my-biography,
	.second-inner .my-skills, 
	.second-inner .my-biography {
		position: unset;
	}
	
	.skills .my-skills {
		background: url(../images/Resume_Header_banner.jpg) center no-repeat;
		background-size: cover;
	}
	
	.my-biography, .my-skills {
    padding: 0px 4% 50px;
	}
	
	.second-inner .my-skills h2 {
    margin-top: 0;
	}
	/* End of skills */
	
	.gallery div:nth-of-type(3) {
    margin: 25px 15px 50px;
	}
	
	.contact .one-half.column {
    float: none;    
		width: 92%;
		margin: 0 auto;
		padding: 0;
	}
	
	footer {
    padding: 40px 4%;
	}
}
/* End of tablets */