@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: #29a486;
    --color-2: #f0ebe3;
    --color-3: #2b2b2b;
    --color-4: #5cfdc3;
  }
}

@layer components {
  .btn {
    @apply inline-block relative bg-secondary h-14 rounded-full border-2 border-black px-10 text-sm font-bold uppercase leading-13 tracking-wider text-black shadow-3 z-10;
  }
  .btn-link {
    @apply relative ml-12 inline-block h-14 px-4 font-bold uppercase leading-14 before:pointer-events-none before:absolute before:-left-12 before:top-1/2 before:h-0.5 before:w-10 before:cursor-none before:bg-black;
  }
  .info-tile {
    @apply absolute flex items-center z-20 text-black border-2 border-solid border-black rounded-full shadow-3 bg-white w-[250px] h-[82px] px-5;
  }
  .info-title--col {
    @apply flex-1 text-center;
  }
  .bg-title {
    @apply relative -top-4 text-[17vw] font-bold leading-[1px] whitespace-nowrap opacity-[.02];
  }
  .v-line-block {
    @apply w-0.5 bg-black absolute left-4 top-4 bottom-4 z-10 before:absolute before:w-8 before:h-8 before:-left-4 before:border-2 before:border-solid before:border-black before:rounded-full before:bg-white before:shadow-3 after:absolute after:w-8 after:h-8 after:-left-4 after:border-2 after:border-solid after:border-black after:rounded-full after:bg-white after:shadow-3 after:bottom-0;
  }
}
