@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-1: #29a486;
        --color-2: #f0ebe3;
        --color-3: #2b2b2b;
        --color-4: #5cfdc3;
    }
}


